# Basic Assignment.txt

1. WAP to take 10 numbers from a user and store them in a list.

2. Display numbers divisible by 5 from a list.

3. WAP to calculate the count of elements in a string taken as input from the user.

4. WAP to check if a number is even or odd where number is taken as input.

5. WAP to reverse a string taken as input from the user.

6. WAP to reverse all the strings present in a list and save them in a new list.

7. Print characters from a string that are present at an even index number

8. Check if the first and last number of a list is the same

9. Calculate income tax for the input income by adhering to the Indian rules.

10. Write a Python program to check whether a string starts with vowel or not.

11. Write a Python program to check if all the characters of a string are vowel or not.

12. WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user.

13. WAP to convert '95.3' taken as input from the user into float value.

14. WAP to count the number of zeroes present in a number taken as input from the user.

15. WAP to calculate the surface area of a triangle. Take the required values as input.

16. WAP to concatenate two lists index-wise and save the result in a 3rd list.

17. WAP to convert two lists into a dictionary. Take the elements from first list as keys
and elements from second list as values.

18. Input and store the marks of 10 students in a list. Print max and min marks.

19. WAP to save the username and password of 10 users in a dictionary.

20. Write a Python program to find the sum of the first n positive integers. Take n as input from the user.

In [1]:
#1
l=[]
for i in range(0,10):
    m=int(input())
    l.append(m)
print(l)

3
67
890
456
678
123
456
789
345
234
[3, 67, 890, 456, 678, 123, 456, 789, 345, 234]

In [2]:
#2
l=[]
for i in range(0,10):
    m=int(input())
    if(m%5==0):
        l.append(m)
print(l)

560
345
780
346
234
765
123
6
1245
764
[560, 345, 780, 765, 1245]

In [10]:
#3
s=input()
count=0
for i in s:
    count+=1
print(count)

hello how are you))
19

In [35]:
#4
i=0
while(i!=-1):
    i=int(input())
    if(i!=-1):
        if(i%2==0):
            print("even")
        else:
            print("odd")

2
even
3
odd
4
even
2
even
4
even
-1

In [34]:
#5
s=input()
for i in range(1,len(s)):
    print(s[-i],end="")
#print(s[::-1])

hello how are you
uoy era woh olle

In [61]:
#6
l=[]
i=""
while(i!="0"):
    i=input()
    l.append(i)
m=[]
for k in l:
    m.append(k[::-1])
print(m)

hello
how are you
1234
678
0
[' olleh', 'uoy era woh', '4321', '876', '0']

In [66]:
#7
s=input()
for i in range(len(s)):
    if(i%2==0):
        print(s[i],end="")

hello world its a new game !
hlowrdisanwgm

In [69]:
#8
l=[]
i=0
while(i!=-1):
    i=int(input())
    if(i!=-1):
        l.append(i)
if(l[0]==l[-1]):
    print("the first and last characters are same")
else:
    print("they are not same")

56
56
78
89
23
-1
they are not same

In [75]:
#9
income=int(input())
if(income>=250000 and income<=499999):
    tax=12500
    cess=12500*0.04
    total_tax=tax+cess
    print(total_tax)
elif(income>=500000 and income<=649999):
    tax=25000
    cess=(12500*0.04)+(25000*0.04)
    total_tax=tax+cess
    print(total_tax)
elif(income>=750000 and income<=999999):
    tax=37500
    cess=(12500*0.04)+(25000*0.04)+(37500*0.04)
    total_tax=tax+cess
    print(total_tax)
elif(income>=1000000 and income<=1149999):
    tax=50000
    cess=(12500*0.04)+(25000*0.04)+(37500*0.04)+(50000*0.04)
    total_tax=tax+cess
    print(total_tax)
elif(income>=1250000 and income<=1500000):
    tax=62500
    cess=(12500*0.04)+(25000*0.04)+(37500*0.04)+(50000*0.04)+(62500*0.04)
    total_tax=tax+cess
    print(total_tax)  
elif(income>1500000):
    tax=177600
    cess=(12500*0.04)+(25000*0.04)+(37500*0.04)+(50000*0.04)+(62500*0.04)+(177600*0.04)
    total_tax=tax+cess
    print(total_tax) 
else:
    print("Exempt from Tax")

4500000
192204.0

In [83]:
#10
s=input().lower()
l=["a","e","i","o","u"]
if s[0] in l:
    print("string starts with vowel")
else:
    print("string starts with consonant")

fruit
string starts with consonant

In [87]:
#11
s=input().lower()
l=["a","e","i","o","u"]
count=0
for i in range(len(s)):
    if s[i] not in l:
        count+=1
if(count>=1):
    print("characters of a string are consonant")
else:
    print("characters of a string are vowel ")

happy
characters of a string are consonant

In [91]:
n=int(input())#for no of subjects
l=[]
for i in range(n):
    m=int(input())
    l.append(m)
add=0
for x in range(len(l)):
    add=add+l[x]
avg=add/n
print(avg)

5
40
50
60
70
80
60.0

In [94]:
#13
i=95.3
print(type(float(i)))

<class 'float'>

In [101]:
#14
k=int(input())
count=0
while(k!=0):
    if(k%10==0):
        count+=1
    k=k//10
    
print(count)

4500780034
4

In [103]:
#15
l=float(input())
b=float(input())
h=float(input())
area=0.5*l*b*h
print(area)

2
3
4
12.0

In [113]:
#16
l1=[1,2,3,4,5,6]
l2=[7,8,9,10,11,12]
l3=[]
for i in range(len(l1)):
    for j in range(len(l2)):
        if(i==j):
            k=l1[i]+l2[j]
            l3.append(k)
print(l3)

[8, 10, 12, 14, 16, 18]

In [118]:
#17
l1=[1,2,3,4,5]
l2=["hello","hi","what","range","!!!!"]
dic={l1:l2 for l1 ,l2 in zip(l1,l2)}
print(dic)

{1: 'hello', 2: 'hi', 3: 'what', 4: 'range', 5: '!!!!'}

In [119]:
#18
n=int(input())
l=[]
for i in range(n):
    k=int(input())
    l.append(k)
l.sort()
print("min=",l[0])
print("max=",l[-1])

10
23
45
67
89
46
90
34
66
77
88
min= 23
max= 90

In [127]:
#19
l1=[]
l2=[]
i=""
while(i!="-1"):
    i=input()
    n=input()
    if(i!="-1" and n!="-1"):
        l1.append(i)
        l2.append(n)
dic={l1:l2 for l1,l2 in zip(l1,l2)}
print(dic)

rithi
123@r
priya
56@p
aneesh
1245@an
amith
123@am
-1
-1
{'rithi': '123@r', 'priya': '56@p', 'aneesh': '1245@an', 'amith': '123@am'}

In [128]:
#20
n=int(input())
add=0
for i in range(n):
    add=add+i
print(add)

10
45